<div>
  <table class="table table-hover" >
    <thead class="thead" style="background-color: #001133; color:#e6eeff" >
      <tr>
        <th scope="col" class="align-middle && text-center">Name</th>
        <th scope="col" class="align-middle && text-center">ID</th>
        <th scope="col" class="align-middle && text-center">Build Date</th>
        <th scope="col" class="align-middle && text-center">Age (period)</th>
        <th scope="col" class="align-middle && text-center">Age (Earth days)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let monument of monuments">
        <td class="align-middle">{{ monument.name }} <br> [<a [routerLink]="['/findMonumentById',monument.id]">details</a>]</td>
        <td class="align-middle && text-center">{{ monument.id }}</td>
        <td class="align-middle && text-center">{{ monument.buildDate }}</td>
        <td class="align-middle && text-center">{{ monument.agePeriod }}</td>
        <td class="align-middle && text-right">{{ monument.ageDays }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <div class="container">
  List of available monuments: <br><br>
  <ul>
    <li *ngFor="let monument of monuments">{{ monument.name }} (id:{{ monument.id }})<br>
      The date on which construction of this monument was finished is listed as {{ monument.buildDate }}. <br>
      The age of this monument today has been calculated as being {{ monument.ageDays }} days, or a period of {{ monument.agePeriod }}.<br><br>
    </li>
  </ul>
</div> -->

