<br><br>

<!-- <input type="text" [(ngModel)] = "dob" name = "dob" placeholder = "Date of birth"> <br>
Date of birth entered: {{ dob }} <br><br> -->

<!-- onChange="setDate();" -->

<input type="date" [(ngModel)]="putInDate" name = "putInDate" value = ""> 
<button (click) = "update()">Enter</button> {{ putInDate }} <br>

<!-- <div *ngIf="calculateBirthDate">
Date of birth entered: {{ date.enteredDate }} // {{ putInDate}} // 
    Years: {{ enteredYears}}, Months: {{ enteredMonths}}, Days: {{ enteredDays}} <br>
Calculated period of Earth days: {{ date.dateDays }} // {{ date.datePeriod }} </div><br> -->

<div>
    Date of birth entered: {{ putInDate }} // {{ enteredBirthDate.enteredDate }}<br>
    Calculated period of Earth days: {{ enteredBirthDate.datePeriod}} // {{ enteredBirthDate.dateDays }}<br><br>
</div>

<div>
    Please select for which planets you want to calculate the native days or years by selecting from the list below: <br>
    <ul>
        <li *ngFor="let planet of planets"><input type="checkbox" name="selected" [(ngModel)]="planet.selected">
            {{ planet.name }} (Selected: {{ planet.selected }})<br>
        </li>
    </ul>
</div>

<button (click) = "calculateBirthDate()">Calculate</button> <br>
