<br><br>

Detected entered birth date and following calculations (id: {{ calculateBirthDate?.id }}): <br><br>

<div *ngIf="calculateBirthDate">
  Entered Birth Date: {{ calculateBirthDate.enteredDate }}<br>
  Calculated Entered Period: {{ calculateBirthDate.datePeriod }}<br>
  Calculated Entered Days: {{ calculateBirthDate.dateDays }}<br><br>

  Calculated {{ calculateBirthDate.planet.name }} Days: {{ calculateBirthDate.calculatedPlanetDays }}<br>
  Calculated {{ calculateBirthDate.planet.name }} Years: {{ calculateBirthDate.calculatedPlanetYears }}<br>
</div>

<a [routerLink]="['/editCalculateBirthDate', calculateBirthDate.id]">Edit</a>
