<br>

<div class="container">
Please enter a number of years below (id: {{ calculatePeriod.id }}): <br><br>
</div>

<div class="container" *ngIf="calculatePeriod">
  <input type="number" [(ngModel)] = "calculatePeriod.enteredYears" name="calculatePeriod.enteredYears" placeholder="years">
  <input type="button" value="Calculate" (click)="update()"><br><br>
</div>

<div class="container" *ngIf="calculatePeriod">
  Entered number of years: {{ calculatePeriod.enteredYears }} Earth years;<br>
  Calculated number of days: {{ calculatePeriod.calculatedDays }}<br>
  Calculated number of {{ calculatePeriod.planet.name }} days: {{ calculatePeriod.calculatedPlanetYearsDays }}<br>
  Calculated number of {{ calculatePeriod.planet.name }} years: {{ calculatePeriod.calculatedPlanetYears}} <br><br>
</div>

<div class="container">
  Please enter a number of days below (id: {{ calculatePeriod.id }}): <br><br>
  </div>
  
  <div class="container" *ngIf="calculatePeriod">
    <input type="number" [(ngModel)] = "calculatePeriod.enteredDays" name="calculatePeriod.enteredDays" placeholder="days">
    <input type="button" value="Calculate" (click)="update()"><br><br>
  </div>
  
  <div class="container" *ngIf="calculatePeriod">
    Entered number of days: {{ calculatePeriod.enteredDays }} Earth days;<br>
    Calculated number of {{ calculatePeriod.planet.name }} days: {{ calculatePeriod.calculatedPlanetDays }}<br>
    Calculated number of {{ calculatePeriod.planet.name }} years: {{ calculatePeriod.calculatedPlanetDaysYears}} <br>
  </div>
