<br>

<div class="container" *ngIf="calculateBirthDate">
  Please enter your Birth Date below (id: {{ calculateBirthDate.id }}): <br><br>
  <input type="date" [(ngModel)] = "calculateBirthDate.enteredDate">
  <input type="button" value="Enter" (click)="update()">
  <input type="button" value="Calculate" (click)="refreshen()"><br><br>
</div>

<div class="container" *ngIf="calculateBirthDate">
  Entered Birth Date: {{ calculateBirthDate.enteredDate }}<br>
  Calculated Entered Period: {{ calculateBirthDate.datePeriod }}<br>
  Calculated Entered Earth Days: {{ calculateBirthDate.dateDays }}<br><br>

  Calculated {{ calculateBirthDate.planet.name }} Days: {{ calculateBirthDate.calculatedPlanetDays }}<br>
  Calculated {{ calculateBirthDate.planet.name }} Years: {{ calculateBirthDate.calculatedPlanetYears }}<br>
</div>



