<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <img src="../assets/images/earth.png"  width="8%" height="8%"/>
    Planets in Time
  </h1>
</div>

<nav class = "navbar navbar-dark" style="background-color: #001133">
  <button class="btn btn-light" style="background-color: #e6eeff" onclick = "window.location.href = 'http://localhost:4200/planetList';">
    Planets
  </button>

  <button class="btn btn-light" style="background-color: #e6eeff" onclick = "window.location.href = 'http://localhost:4200/monumentList';">
    Monuments
  </button>
</nav>

<!-- <br>
<button onclick = "window.location.href = 'http://localhost:4200/planetList';">
  PlanetList
</button>

<button onclick = "window.location.href = 'http://localhost:4200/enterBirthDate';">
  Enter Birth Date (old)
</button>

<button onclick = "window.location.href = 'http://localhost:4200/monumentList';">
  MonumentList
</button>

<button onclick = "window.location.href = 'http://localhost:4200/calculateMonuments';">
  Calculate Monuments (FE)
</button>

<button onclick = "window.location.href = 'http://localhost:4200/calculatePlanetsSimple';">
  Calculate Planets (FE)
</button> -->

<router-outlet></router-outlet>
